@import "./colors/colors.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

*body {
  height: 100vh;
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}


::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 5px;
}

.alert {
  position: fixed;
  top: 70px;
  left: 50%;
  width: 90%;
  text-align: center;
  transform: translateX(-50%);
  display: flex;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  z-index: 99999999;
  animation: fadeOut 5s forwards ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alert-success {
  padding: 10px 10px;
  border-radius: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $cor-sucesso;
}

.alert-danger {
  height: 100px;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-alerta);
}

.empty {
  border: 2px solid var(--cor-alerta);
}
