@import "./colors/colors.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

*body {
  height: 100vh;
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  background-color: #f5f5f5; /* Cor de fundo da barra de rolagem */
}

/* Estilo do botão da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #c5c5c5; /* Cor do botão da barra de rolagem */
  border-radius: 5px; /* Borda arredondada do botão */
}

.alert {
  position: fixed;
  top: 70px; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  display: flex;
  align-items: center;
  height: 30px;
  color: #fff;
  font-weight: bold; /* Alterado para 'bold' em vez de '600px' */
  font-size: 17px;
  z-index: 99999999;
  animation: fadeOut 5s forwards ease-out; /* Aplica a animação com duração de 3 segundos */
}

@keyframes fadeOut {
  from {
    opacity: 1; /* Começa com opacidade total */
  }
  to {
    opacity: 0; /* Termina com opacidade zero */
  }
}

.alert-success {
  padding: 10px 10px;
  border-radius: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $cor-sucesso;
}

.alert-danger {
  height: 100px;
  width: 90%;
  border-radius: 10px;
  padding: 20px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-alerta);
}

.empty {
  border: 2px solid var(--cor-alerta);
}
