@import "../../colors/colors.scss";

@import "./modalEndereco.scss";

@import "./modalTroco.scss";

@import "./pedidoConcluido.scss";

header {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

header > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

header > div > img {
  width: 30%;
  height: auto;
  max-width: 150px;
  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  z-index: 30;
  opacity: 0.9;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

header > div > img:hover {
  transform: translateY(-3.5px);
}

header > div > h1 {
  margin: 10px 0 10px 0;
  font-weight: bold;
  color: rgb(238, 238, 238);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header > div > span {
  color: white;
  font-size: 18px;
}

header > div > .horarioFuncionamento {
  padding: 4px 5px 4px 4px;
  border-radius: 2.5px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header > div > .horarioFuncionamento span {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 420px) {
  header > div > .horarioFuncionamento {
    width: 90px;
  }
  header > div > .horarioFuncionamento span {
    color: white;
    font-size: 11px;
    font-weight: 500;
  }
}

header > div > .horarioFuncionamento img {
  margin-top: 2px;
  width: 20px;
}

@media (max-width: 370px) {
  header > div > img {
    width: 120px;
    height: 120px;
  }
}

.spanConhecaMenu {
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 990px) {
  .spanConhecaMenu {
    font-size: 25px;
  }
}

#menu {
  background-color: #f8f8f8;
}

.menu {
  padding-bottom: 45px;
}

#menu > .categorias {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 0 8px;
}

@media (min-width: 768px) {
  #menu > .categorias {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}

.containerDescricaoPreco {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

nav {
  justify-content: center;
  background-color: #fff;
  color: #303030;
  position: sticky;
  top: 0;
  // border: 1px solid #e7e7e7;
  box-shadow: 0 4px 4px -5px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
  padding: 20px 0 0 0;
}

nav::-webkit-scrollbar {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 6px 9px;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  padding: 5px 7px 5px 7px;
}

nav ul li a {
  color: $cor-title;
  font-size: 18px;
  text-decoration: none;
}

.activeNav {
  color: $cor-tema;
  border-bottom: 2px solid $cor-tema;
}

.containerProduto {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #dddfe2;
  padding: 10px;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.containerProduto:hover {
  transform: translateY(-5px); /* Desloca 10px para cima */
}

.containerProduto > img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.spanTitleProduto {
  font-weight: 600;
  font-size: 16px;
  color: $cor-title;
}

.spanDescricaoProduto {
  font-size: 12px;
  font-weight: 500;
  color: $cor-descrition;
}

.preco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.preco > p {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: $cor-price;
}

.preco > button {
  display: flex;
  background-color: rgb(31, 31, 31);
  border: none;
  padding: 2px 15px 2px 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.preco > button > img {
  width: 20px;
}

#menu > .containerSpanBebidas {
  max-width: 80rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 5px 10px;
}

#menu > .containerSpanBebidas > h2 {
  font-weight: 500;
  color: $cor-texto-cinzaEscuro;
  font-size: 26px;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(0 0 0 / 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalActive {
  display: flex;
  animation: modalActive 0.4s ease;
}

.modal > div {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerModal {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border: 1px solid #e7e7e7;
  padding: 10px;
  box-shadow: 10px 1px 5px #cecece;
  gap: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 500;
}

.headerModal > h2 {
  font-size: 18px;
  font-weight: 600;
  color: $cor-title;
}
.items > h2 {
  font-size: 20px;
  font-weight: bold;
}

#containerPedido {
  margin-top: 58px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

#containerPedido > p {
  font-weight: 500;
  color: $cor-title;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modal > div > p {
  font-weight: bold;
}

.modal > div > input {
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  margin: 4px 0;
}

.alert {
  color: red;
  display: none;
}

.containerFinalizarPedido {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#close-modal-btn {
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#close-modal-btn > i {
  font-size: 30px;
  max-height: 20px;
  align-items: center;
  display: flex;
}

.imgFechaModal {
  font-size: 30px;
  max-height: 20px;
  align-items: center;
  display: flex;
  color: #686868;
}

#checkout-btn {
  display: none;
  background-color: rgb(40, 150, 40);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
}

@media (min-width: 770px) {
  .modal > div {
    min-width: 600px;
  }
}

footer {
  position: fixed;
  z-index: 40;
  bottom: 0;
  width: 100%;
  background-color: $cor-tema;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  box-shadow: h-shadow v-shadow blur spread color inset;
}

footer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
}

.containerItemCarrinho {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.itemCarrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}

.atributosItemCarrinho > .spanItemName {
  font-size: 18px;
  font-weight: bold;
  color: $cor-title;
}

.atributosItemCarrinho > .spanItemPrice {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0.5rem;
  color: $cor-price;
}

.activeSpanAlert {
  display: flex;
}

.ActiveAddress {
  border: 1px solid #e9130c;
}

/* MODAL PRODUTO */
.modalProduto {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modalProdutoActive {
  display: flex;
  animation: modalActive 0.4s ease;
}

.contentModalProduto {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  padding: 20px;
}

.modalDisable {
  display: flex;
  animation: modalDisable 0.4s ease;
}

#imgProduto {
  width: 100%;
  min-height: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow-y: hidden;
}

.imgProduto {
  width: 100%;
}

.imgModalProduto {
  border-radius: 20px;
  width: 100%;
}

@media (max-width: 450px) {
  .imgModalProduto {
    width: 100%;
  }
}

.modalProdutoDisable {
  animation: modalDisable 0.4s ease;
  display: flex;
}

@keyframes modalDisable {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

@keyframes modalActive {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#btnVoltar {
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 10px;
  top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#btnVoltar > i:hover {
  animation: pulse 0.5s forwards;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.7);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

#btnVoltar > i {
  font-size: 35px;
  border-radius: 100%;
}

.footerProduto {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid #dddfe2;
}

.footerProduto > button {
  background-color: $cor-tema;
  width: 80%;
  margin-right: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid $cor-tema;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 500px) {
  .footerProduto > button {
    width: 500px;
  }
}

.informacaoProduto {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 0;
}

#nomeProduto {
  font-weight: 550;
  color: $cor-title;
}
#valorProduto {
  font-size: 18px;
  font-weight: 550;
  color: $cor-price;
}

#descricaoProduto {
  font-style: italic;
  color: $cor-descrition;
}

#quantidade {
  display: flex;
  gap: 15px;
  margin-right: 40px;
  align-items: center;
  justify-content: center;
}

.btnSomaSubtrai {
  background-color: transparent;
  font-size: 30px;
  border: none;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $cor-title;
}

.categoria > h2 {
  background-color: $cor-fundoCategoria;
  padding: 10px;
  font-weight: 550;
  color: $cor-textCategoria;
  font-size: 18px;
  // border-radius: 5px;
  margin: 15px 0 5px 0;
}

.categoria > li {
  list-style-type: none;
  color: $cor-adicionais;
  font-size: 16px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoria > li > div {
  display: flex;
  margin-bottom: 7px;
  padding: 0 15px;
}

.categoria > li > .listAdicional {
  display: flex;
  flex-direction: column;
}

.categoria > li > .listAdicional > span:first-child {
  font-weight: 500;
  font-size: 15px;
}

.categoria > li > div > .priceAdicional {
  font-weight: bold;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: $cor-priceAdicional;
}

.categoria > li > div > button:first-child {
  margin-right: 12.5px;
}

.categoria > li > div > button:last-child {
  margin-left: 12.5px;
}

.categoria > li > div > button {
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
.categoria > li > div > button > i {
  font-size: 30px;
}

#listAdicionais {
  margin-left: 10px;
}

#listAdicionais > li {
  display: flex;
  align-items: center;
  color: $cor-adicionalQuantidade;
  font-weight: 450;
  font-size: 13px;
}

#listAdicionais > li > p {
  margin-right: 10px;
  background-color: $cor-adicionalQuantidade;
  border-radius: 3px;
  padding: 2px;
  color: #fff;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

#divAddMaisItens {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addMaisItens {
  background-color: transparent;
  color: $cor-tema;
  border: none;
  font-weight: 600;
  font-size: 14px;
  height: 90%;
  width: 80%;
}

#divAddEndereco {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  border: 1px solid #dddfe2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

#divAddEndereco > p {
  color: $cor-price;
  width: 50%;
  color: $cor-price;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

#cart-total {
  margin-left: 20px;
}

#addEndereco {
  color: #fff;
  background-color: $cor-tema;
  border: none;
  font-weight: 500;
  font-size: 15px;
  height: 50px;
  border-radius: 10px;
  margin: 10px 20px 10px 0;
  padding: 0 25px;
  height: 40px;
}

#observacaoProduto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#observacao {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #b6b6b6;
}
