{{>_navbar}}

<div class="body">
  <span style="display: none;" id="loja">{{nomeLoja}}</span>

  <h2 class="title">Pedidos</h2>

  <div id="pedidosAgora"></div>
  <div id="pedidos"></div>

  <div id="modalDetalhes" class="modalProduto">
    
    <div class="headerModal">
      <div id="close-modalDetalhesProduto-btn">
        <img src="/img/botao-voltar.png" />
      </div>
      <h2>Detalhes do produto</h2>
    </div>
    <div id="modalContent">

    </div>


  </div>
</div>

