<nav>
  <div>
    <a href="">Menu</a>
    <button>
      <span></span>
    </button>
    <div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/{{loja}}/admin/categorias">Categorias</a>
        </li>
        {{#if user}}
          <li>
            
            <a href="/usuarios/logout">Sair</a>
          </li>

        {{else}}
          <li>
            <a href="/usuarios/login" aria-disabled="true">Login</a>
          </li>
          <li>
            <a href="/usuarios/registro" aria-disabled="true">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>