header {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center;
}

header > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

header > div > img {
  width: 82px;
  height: 82px;
  border-radius: 100%;
  transition: 0.2s ease;
}

header > div > img:hover {
  scale: 1.1;
}

header > div > h1 {
  margin: 10px 0 10px 0;
  font-weight: bold;
  color: white;
}

header > div > span {
  color: white;
  font-size: 18px;
}

header > div > .horarioFuncionamento {
  padding: 4px 16px 4px 16px;
  border-radius: 10px;
  margin: 1.5rem 0 1.5rem 0;
}

header > div > .horarioFuncionamento span {
  color: white;
  font-size: 16px;
}

.spanConhecaMenu {
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 990px) {
  .spanConhecaMenu {
    font-size: 25px;
  }
}

#menu {
  background-color: #f8f8f8;
}

#menu > .categorias {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 8px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  #menu > .categorias {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}

.containerDescricaoPreco {
  width: 100%;
}

nav {
  justify-content: center;
  background-color: #fff;
  color: #303030;
  position: sticky;
  top: 0;
  border: 1px solid #e7e7e7;
  box-shadow: 10px 1px 5px #a5a5a5;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

nav::-webkit-scrollbar {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 14px 10px 14px;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  padding: 5px 14px 5px 14px;

}

nav ul li a {
  color: #292929;
  font-size: 18px;
  text-decoration: none;
}

section {
  padding: 20px;
  margin-top: 50px;
}

h2 {
  color: #333;
}

.activeNav {
  color: #0092aa;
  border-bottom: #0092aa;
}

.containerProduto {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #dddfe2;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.containerProduto:hover {
  transform: translateY(-5px); /* Desloca 10px para cima */
}

.containerProduto > img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.spanTitleProduto {
  font-weight: bold;
  font-size: 14px;
}

.spanDescricaoProduto {
  font-size: 11px;
}

.preco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.preco > p {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.preco > button {
  display: flex;
  background-color: rgb(31, 31, 31);
  border: none;
  padding: 2px 15px 2px 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.preco > button > img {
  width: 20px;
}

#menu > .containerSpanBebidas {
  max-width: 80rem;
  padding: 0 8px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu > .containerSpanBebidas > h2 {
  font-weight: bold;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(0 0 0 / 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalActive {
  display: flex;
  animation: modalActive 0.5s ease;
}

.modal > div {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerModal {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  border: 1px solid #e7e7e7;
  padding: 10px;
  box-shadow: 10px 1px 5px #cecece;
  gap: 40px;
}

.headerModal > h2 {
  font-size: 16px;
  font-weight: 600;
  color: #424242;
}
.items > h2 {
  font-size: 20px;
  font-weight: bold;
}

#containerPedido {
}

.items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.modal > div > p {
  font-weight: bold;
}

.modal > div > input {
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  margin: 4px 0;
}

.alert {
  color: red;
  display: none;
}

.containerFinalizarPedido {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#close-modal-btn {
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#checkout-btn {
  display: none;
  background-color: rgb(40, 150, 40);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
}

@media (min-width: 770px) {
  .modal > div {
    min-width: 600px;
  }
}

footer {
  position: fixed;
  z-index: 40;
  bottom: 0;
  width: 100%;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

footer > button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  gap: 8px;
  font-weight: bold;
}

.containerItemCarrinho {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.itemCarrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}

.atributosItemCarrinho > .spanItemName {
  font-size: 1rem;
  font-weight: bold;
}

.atributosItemCarrinho > .spanItemPrice {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.containerEntrega {
  display: none;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item2 item2"
    "item3 item3 item3 item4"
    "item5 item5 item5 item5"
    "item6 item6 item6 item6"
    "item7 item7 item7 item8"
    "item9 item9 item9 item9"
    "item10 item10 item10 item10";
  gap: 20px;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 0 0;
}

.containerEntrega > input {
  height: 45px;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  font-size: 18px;
}

.containerEntregaBtn {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.containerEntregaBtn > img {
  width: 20px;
}
#btnEntrega {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #45a74a;
}

.item1 {
  grid-area: item1;
  font-size: 18px;
  font-weight: bold;
  color: rgb(49, 49, 49);
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
  @media (max-width: 880px) {
    width: 90px;
  }
}

.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
  @media (max-width: 880px) {
    width: 90px;
  }
}
.item9 {
  grid-area: item9;
  font-size: 18px;
  font-weight: bold;
  color: rgb(49, 49, 49);
}
.item10 {
  grid-area: item10;
}

.activeSpanAlert {
  display: flex;
}

.ActiveAddress {
  border: 1px solid #e9130c;
}

/* MODAL PRODUTO */

.modalProduto {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modalProdutoActive {
  display: flex;
  animation: modalActive 0.4s ease;
}

.modalDisable {
  display: flex;
  animation: modalDisable 0.4s ease;
}

.imgProduto {
  width: 100%;
  border-radius: 10px;
}

#imgProduto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalProdutoDisable {
  animation: modalDisable 0.5s ease;
  display: flex;
}

@keyframes modalDisable {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

@keyframes modalActive {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#imgProduto {
  position: relative;
}

#btnVoltar {
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#btnVoltar > img:hover {
  animation: pulse 0.5s forwards;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.7);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

#btnVoltar > img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.footerProduto {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid #dddfe2;
}

.footerProduto > button {
  background-color: #0092aa;
  width: 80%;
  margin-right: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.informacaoProduto {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

#nomeProduto {
  font-style: normal;
  color: rgb(43, 43, 43);
}
#valorProduto {
  font-size: 18px;
  font-weight: bolder;
  color: rgb(43, 43, 43);
}

#descricaoProduto {
  font-style: italic;
  color: rgb(56, 56, 56);
}

#quantidade {
  display: flex;
  gap: 15px;
  margin-right: 40px;
}

#quantidade > img {
  width: 25px;
}
