{{!-- {{>_navbar}} --}}

<div class="card">
  <div class="card-body">
    <form action="/usuarios/login" method="post">
      <H1>Menu Whats</H1>
      <div>
        <input placeholder="Email" id="email" type="text" class="form-control" name="email" />
        <img src="../img/usuarioIcon.svg" />
      </div>

      <div>
        <input id="senha" placeholder="Senha" type="password" class="form-control" name="senha" />
        <img id="iconChange" src="../img/visualizarIcon.svg" />
      </div>
      <button id="logar" class="btn btn-success mt-3">ENTRAR</button>

    </form>
    <form id="form" action="/usuarios/cadastrar" method="post">
      <a href=""><button>Desejo me cadastrar</button></a>
    </form>

  </div>
</div>