{{!-- {{>_navbar}} --}}

{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

{{! <h2>Crie sua conta Hoje</h2> }}
<div class="card">
  <div class="card-body">

    <form id="registration-form" action="/usuarios/registro" method="post" enctype="multipart/form-data">
      <h2>Registre sua conta</h2>
      <label class="label" for="nome">Nome<span class="required">*</span> </label>
      <input class="input" type="text" name="nome" />
      <label class="label" for="email">Email<span class="required">*</span> </label>
      <input class="input" type="email" name="email" />
      <div class="containerSenha">
        <div>
          <label class="label" for="senha">Senha<span class="required">*</span> </label>
          <input class="input" type="password" name="senha" />

        </div>
        <div>
          <label class="label" for="senha2">Repita sua senha<span class="required">*</span> </label>
          <input class="input" type="password" name="senha2" />
        </div>

      </div>

      <div class="containerLoja">
        <h3>Informações do estabelecimento </h3>
        <div class="contentLoja">
          <label class="label" for="estado">Nome da Loja<span class="required">*</span> </label>
          <input class="input" type="text" name="nomeDaLoja" />

          <div class="containerLink">
            <label class="label" for="estado">Link do cardápio<span class="required">*</span> </label>
            <div>
              <span>localhost:3000/</span>
              <input class="input" type="text" name="nomeLoja" id="nomeLoja" />
              <span id="username-status"></span>
            </div>
          </div>

          <div class="grid-container">
            <label for="picture" class="label">Imagem principal</label>
            <input value="123" name="imgLogo" type="file" class="input-file" />
          </div>
          <div class="grid-container">
            <label for="picture" class="label">imagem de fundo</label>
            <input value="123" name="imgBg" type="file" class="input-file" />
          </div>
          {{! <input value="123" type="file" name="imgLogo"/> }}
          {{! <h3>imagem de fundo da loja: </h3> }}
          {{! <input value="123" type="file" name="imgBg" /> }}

          <label class="label" for="estado">Contato para recebimento de pedidos<span class="required">*</span> </label>
          <input class="input" type="text" name="telefone" />

          <h3>Informações de endereço </h3>
          <label class="label" for="estado">Estado<span class="required">*</span> </label>
          <input class="input" type="text" name="estado" />
          <label class="label" for="cidade">Cidade<span class="required">*</span> </label>
          <input class="input" type="text" name="cidade" />
          <label class="label" for="bairro">Bairro<span class="required">*</span> </label>
          <input class="input" type="text" name="bairro" />
          <label class="label" for="rua">Rua<span class="required">*</span> </label>
          <input class="input" type="text" name="rua" />
          <label class="label" for="numero">Nº<span class="required">*</span> </label>
          <input class="input" type="text" name="numero" />
          <label class="label" for="pontoRef">Ponto de referência<span class="required">*</span> </label>
          <input class="input" type="text" name="pontoReferencia" />

          <h3>Horários de funcionamento </h3>
          <div class="containerFuncionamento">
            <h5>Segunda-feira </h5>
            <div>
              <div>
                <label class="label" for="segAb">Abre </label>
                <input class="inputHora" type="time" name="segAb" />
              </div>

              <div>
                <label class="label" for="segFe">Fecha </label>
                <input class="inputHora" type="time" name="segFe" />
              </div>

            </div>

          </div>

          <div class="containerFuncionamento">
            <h5>Terça-feira </h5>
            <div>
              <div>
                <label class="label" for="terAb">Abre </label>
                <input class="inputHora" type="time" name="terAb" />
              </div>
              <div>
                <label class="label" for="terFe">Fecha </label>
                <input class="inputHora" type="time" name="terFe" />
              </div>

            </div>

          </div>

          <div class="containerFuncionamento">
            <h5>Quarta-feira </h5>
            <div>
              <div>
                <label class="label" for="quaAb">Abre </label>
                <input class="inputHora" type="time" name="quaAb" />
              </div>
              <div>
                <label class="label" for="quaFe">Fecha </label>
                <input class="inputHora" type="time" name="quaFe" />
              </div>

            </div>

          </div>

          <div class="containerFuncionamento">
            <h5>Quinta-feira </h5>
            <div>
              <div>
                <label class="label" for="quiAb">Abre </label>
                <input class="inputHora" type="time" name="quiAb" />
              </div>

              <div>
                <label class="label" for="quiFe">Fecha </label>
                <input class="inputHora" type="time" name="quiFe" />
              </div>

            </div>

          </div>

          <div class="containerFuncionamento">
            <h5>Sexta-feira </h5>
            <div>
              <div>
                <label class="label" for="sexAb">Abre </label>
                <input class="inputHora" type="time" name="sexAb" />
              </div>
              <div>
                <label class="label" for="sexFe">Fecha </label>
                <input class="inputHora" type="time" name="sexFe" />
              </div>

            </div>

          </div>

          <div class="containerFuncionamento">
            <h5>Sábado </h5>
            <div>

              <div>
                <label class="label" for="sabAb">Abre </label>
                <input class="inputHora" type="time" name="sabAb" />
              </div>
              <div>
                <label class="label" for="sabFe">Fecha </label>
                <input class="inputHora" type="time" name="sabFe" />
              </div>

            </div>

          </div>

          <div class="containerFuncionamento">
            <h5>Domingo </h5>
            <div>
              <div>
                <label class="label" for="domAb">Abre </label>
                <input class="inputHora" type="time" name="domAb" />
              </div>
              <div>
                <label class="label" for="domFe">Fecha </label>
                <input class="inputHora" type="time" name="domFe" />
              </div>

            </div>

          </div>

        </div>
      </div>

      <div class="submit">
        <button type="submit">
          <span>Criar conta</span>
        </button>
      </div>

    </form>
  </div>
</div>