@import "../../colors/colors.scss";

@import "./inputCreate.scss";

.title {
  color: $cor-texto-cinzaEscuro;
  width: 100%;
  font-size: 32px;
  margin: 40px 0 0 20px;
}

.btnNova {
  width: 100%;
}

.body {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.nome > h2 {
  font-weight: 400;
  font-size: 20px;
  color: $cor-texto-cinzaEscuro;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid lightgrey;
  padding: 17px 10px 17px 10px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(85, 85, 85, 0.3);
}

@media (min-width: 700px) {
  .card {
    width: 700px;
  }
  .btnNova {
    width: 700px;
  }
  .title {
    width: 700px;
  }
}

.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.openModal > img {
  width: 30px;
}

.modal {
  display: none;
}

.active {
  display: flex;
}
