@import "../../colors/colors.scss";

@import "./inputCreate.scss";

@import "../navBar.scss";

body {
  background: #f8f9fc;
  font-family: "Quicksand", sans-serif;
}
.title {
  color: $cor-texto-cinzaEscuro;
  width: 100%;
  font-size: 32px;
  margin: 70px 0 0 20px;
}

.btnNova {
  width: 100%;
}

.body {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.nome > h2 {
  font-weight: 600;
  font-size: 16px;
  color: $cor-texto-cinzaEscuro;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 17px 10px 17px 10px;
  align-items: center;
  border-radius: 4px;
  // border-left: 5px solid #03032b;
  box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.3);
}

@media (min-width: 700px) {
  .card {
    width: 700px;
  }
  .btnNova {
    width: 700px;
  }
  .title {
    width: 700px;
  }
}

.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  appearance: none;
  background-color: #24b4fb;
  margin: 2px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.delete {
  background-color: rgb(255, 99, 71);
}

.modal {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  /* Outras estilizações para o modal */
}
.modal.active {
  display: block; /* Ou flex, dependendo do seu design */
  opacity: 1;
  visibility: visible;
}
