// _cores.scss


//temas

//Azul
// $cor-priceAdicional: #44a5f5;
// $cor-temaClaro: #a4d6ff;
// $cor-tema: #1f92f0;

// Laranja
$cor-priceAdicional: #ff930a;
$cor-tema: #f08800;
$cor-temaClaro: #ffbc40;

$cor-categoria: #525252;
$cor-textCategoria: #525252;
$cor-title: #525252;
$cor-descrition: #8995a5;
$cor-price: #525252;
$cor-adicionais: #525252;
$cor-fundoCategoria: #e9f5ff;
$cor-btnAdicional: #203552;
$cor-adicionalQuantidade: #8995a5;
$cor-backgroundEndereco: #fafafa;
$cor-texto-cinzaEscuro: #525252;
$cor-navBarHeader: #fff;
$cor-navBarContent: #fff;
$cor-textBR: #03032b;

$cor-sucesso: #10c94e;
$cor-falha: #db2100;

$cor-open: #4edf7e;
$cor-close: #db2100;

:root {
  --cor-open: #45bd6d;
  --cor-close: #db2100;
  --cor-btnAdicional: #203552;
  --cor-alerta: #db2100;
  --cor-aceitarPedido: #db2100;
  --cor-pedidoPronto: #2d8fc9;
  --cor-DespacharPedido: #45BD6D;
  --cor-pedidoConcluído: #929292;
}
