// _cores.scss

$cor-categoria: #203552;
$cor-textCategoria: #203552;
$cor-title: #203552;
$cor-descrition: #8995a5;
$cor-price: #203552;
$cor-priceAdicional: #ff930a;
$cor-adicionais: #202d33;
// $cor-fundoCategoria: #e9e9e9;
$cor-fundoCategoria: #fff4e4;
$cor-tema: #f08800;
$cor-open: #10c94e;
$cor-close: #db2100;
$cor-btnAdicional: #203552;
$cor-adicionalQuantidade: #8995a5;

:root {
  --cor-open: #0c8b0c;
  --cor-close: #db2100;
  --cor-btnAdicional: #203552;
}
