@import "../../colors/colors.scss";

@import "./inputCreate.scss";

@import "../navBar.scss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede o scroll horizontal */
  width: 100%;
}

body {
  width: 100%;
}

body {
  background: #f8f9fc;
  font-family: "Quicksand", sans-serif;
  color: $cor-texto-cinzaEscuro;
}

#pedidos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.title {
  color: $cor-texto-cinzaEscuro;
  width: 100%;
  font-size: 32px;
  margin: 70px 0 0 20px;
}

@media (min-width: 740px) {
  .title {
    width: 740px;
  }
}

.btnNova {
  width: 100%;
}

.body {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spanPagamento {
  font-size: 17px;
  color: $cor-texto-cinzaEscuro;
}

.nome > h2 {
  font-weight: 400;
  font-size: 16px;
  color: $cor-texto-cinzaEscuro;
}
.taxa > h2 {
  font-weight: 700;
  font-size: 18px;
  color: #47a2e4;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 22px 13px 22px 13px;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.3);
}

.card > div {
  width: 100%;
}

@media (min-width: 700px) {
  .card {
    width: 700px;
  }
  .btnNova {
    width: 700px;
  }
  .title {
    width: 700px;
  }
}

.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  appearance: none;
  background-color: #24b4fb;
  margin: 2px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.delete {
  background-color: rgb(255, 99, 71);
}

.modal {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  /* Outras estilizações para o modal */
}
.modal.active {
  display: block; /* Ou flex, dependendo do seu design */
  opacity: 1;
  visibility: visible;
}

.modalProduto {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
  background-color: #fff;
  flex-direction: column;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.titulo > h2 {
  font-weight: 700;
  font-size: 18px;
  color: $cor-texto-cinzaEscuro;
}

#modalContent {
  margin: 45px 0 80px 0;
  width: 100%;
  padding: 10px;
}

.footerModalPedido {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  padding: 10px 50px;
}

@media (min-width: 700px) {
  #modalContent {
    width: 700px;
  }
}

.headerPedido {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerPedido > p {
  font-size: 16px;
  color: $cor-texto-cinzaEscuro;
  font-weight: 550;
}

.headerPedido > .data {
  font-weight: 450;
  font-size: 14px;
  color: #747474;
}

.section > a {
  color: #24b4fb;
}

.section > p {
  font-size: 16px;
  color: $cor-texto-cinzaEscuro;
  font-weight: 550;
}

.footerPedido {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.footerPedido > div {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.btnModal {
  max-width: 140px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #24b4fb;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.btnAtualizaStatus {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--cor-pedidoConcluído);
  font-size: 16px;
  color: white;
  font-weight: 600;
}

@media (max-width: 465px) {
  .footerPedido > div {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.footerPedido > p {
  font-weight: 700;
  font-size: 20px;
  color: $cor-texto-cinzaEscuro;
}

.active {
  display: flex;
  animation: modalActive 0.4s ease;
}

.headerModal {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border: 1px solid #e7e7e7;
  padding: 10px;
  box-shadow: 10px 1px 5px #cecece;
  gap: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 100000000;
}

.headerModal > h2 {
  font-size: 18px;
  font-weight: 600;
  color: $cor-title;
}

.disable {
  display: flex;
  animation: modalDisable 0.4s ease;
}

.adicionais {
  margin: 10px 20px;
}

@keyframes modalActive {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalDisable {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

#close-modalDetalhesProduto-btn {
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#close-modalDetalhesProduto-btn > i {
  font-size: 30px;
  max-height: 20px;
  align-items: center;
  display: flex;
}

.separador {
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #747474;
  font-weight: 700;
  font-size: 14px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin: 15px 0 8px 0;
}

.texto2 {
  color: $cor-texto-cinzaEscuro;
  font-weight: 600;
  font-size: 15px;
}

.link {
  padding: 5px 0;
  border-radius: 5px;
  color: #00a2ff;
}

.totalDiv {
  width: 100%;
}

.valor {
  font-weight: 550;
  font-size: 18px;
  color: $cor-texto-cinzaEscuro;
}

.total {
  font-weight: 700;
  font-size: 18px;
  color: $cor-texto-cinzaEscuro;
}

.codigoData {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #747474;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 8px 0;
}

.divAdicionais {
  margin-left: 40px;
}

.divAdicionais > span {
  color: $cor-texto-cinzaEscuro;
  font-weight: 600;
  font-size: 16px;
}

.divAdicionais > p {
  margin-left: 40px;
}

.modalDetalhes {
  width: 100%;
}
